*{
    background-color: black;
}

nav {
    height: 100%;
    width: 30px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    
}
nav a {
    padding: 7px 20px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    transform: rotate(-90deg);
    margin-bottom: 60px;
    margin-left: 0px;
    box-sizing: border-box;
    background-color: rgb(39, 39, 39);
    color: rgb(126, 201, 201);
    border-radius: 10%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}