@font-face {
    font-family: 'kode_mono';
    src : url(fonts/Kode_Mono/KodeMono-VariableFont_wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    font-family:kode_mono;
    box-sizing: border-box;
    }

body{
    background-color: black;
}

#horizontal-nav{
    display: flex;
}


nav {
    height: 100vh;
    width: 0px;
    position: fixed;
    top: 0;
    left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    
}
nav ul a {
    padding:7px;
    margin: 0;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transform: rotate(-90deg);
    box-sizing: border-box;
    background-color: rgb(39, 39, 39);
    color: rgb(255, 255, 255);
    font-family:kode_mono;
    text-align: center;
    border-left: solid 0.5px;
    border-right: solid 0.5px;
    border-color: rgba(255, 255, 255, 0.322);
    transition: 0.75s;
    
}
#cyrex{   
    margin-top: 15px;
}

#home{
    margin-top:95px;
}
#about{
    margin-top:95px;
}
#projects{
    margin-top:95px;
    padding-left:8px;
    padding-right:8px;
}
#contact{
    margin-top:95px;    
}

nav ul a::after {
    content: '';
    width: 0px;
    height:0px;
    left: 0;  
}
nav ul a:hover{
    border-color: transparent;
       
}

nav ul a:hover::first-letter {
    color: rgb(0, 217, 255);
}
nav ul a::first-letter {
    color: rgb(255, 255, 255); 
}

nav ul a:hover::after{
    content: '';
    width: 100%;
    height: 2px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: 0.1px;
    transition: 0.5s;
}

#resume-btn a,#git-btn a,#li-btn a {
    text-decoration: none;
    height:45px;
    width: 100px;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#resume-btn,#git-btn,#li-btn{
    position: fixed;
    height:45px;
    width: 50px;
    background-color: rgb(39, 39, 39);
    border-radius: 5%;
    top: 10px;
    align-content: center;
    text-align: center; 
    font-family: kode_mono;
    transition: 0.5s;
}
#li-btn{
    right: 180px;
}
#git-btn{
    right: 120px;
}

#resume-btn{ 
    right: 10px;
    height:45px;
    width: 100px;   
}
#resume-btn a{
    color: aqua;
}

@media (max-width: 600px) {
    nav ul a {
        font-size: 14px; /* Adjusted font size */
        padding: 5px; /* Adjusted padding */
    }

    #resume_btn {
        width: 80px; /* Adjusted button width */
        height: 30px; /* Adjusted button height */
        font-size: 12px; /* Adjusted font size */
    }

    #cyrex,
    #home,
    #about,
    #projects,
    #contact {
        margin-top: 50px; /* Adjusted margin for smaller screens */
    }
}


#li-btn a:hover{
    color: aqua;
    transition: 0.5s;
    transform: scale(1.1);
}

#git-btn a:hover{
    color: aqua;
    transition: 0.5s;
}

#resume-btn a:hover{
    color: aqua;
    transition: 0.5s;
}

#li-btn:hover,
#git-btn:hover,
#resume-btn:hover {
    transform: scale(1.1);
}

#cyrex-container{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    color: aliceblue;
    justify-content:center;
    margin-top: 1%;
    padding: 10px 1%;
}
#pfp-pic{
    width: 400px;
    border-radius: 5%;
}

#cyrex-container div{
    margin: 140px;

}
#pro{
    font-size: 100px;
}
#pro span{
    color: aqua;
    display: inline-block;
    width: 200px; /* Adjust this value as needed */
    white-space: nowrap;
    text-align: left;
    transition: all 0.3s ease-in-out;
}
